## Preprocessing

In [81]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [82]:
# Looking at the data it appears that the SPECIAL_CONSIDERATIONS column isn't meaningful to the end result.
application_df.groupby(['APPLICATION_TYPE', 'SPECIAL_CONSIDERATIONS'])['IS_SUCCESSFUL'].count()

APPLICATION_TYPE  SPECIAL_CONSIDERATIONS
T10               N                           528
T12               N                            27
T13               N                            66
T14               N                             3
T15               N                             2
T17               N                             1
T19               N                          1065
T2                N                            16
T25               N                             3
T29               N                             2
T3                N                         27010
                  Y                            27
T4                N                          1542
T5                N                          1173
T6                N                          1216
T7                N                           725
T8                N                           737
T9                N                           156
Name: IS_SUCCESSFUL, dtype: int64

In [83]:
# Looking at the data it appears that the STATUS column isn't meaningful to the end result.
application_df.groupby(['APPLICATION_TYPE', 'STATUS'])['IS_SUCCESSFUL'].count()

APPLICATION_TYPE  STATUS
T10               1           528
T12               1            27
T13               1            66
T14               1             3
T15               1             2
T17               1             1
T19               1          1065
T2                1            16
T25               1             3
T29               1             2
T3                0             5
                  1         27032
T4                1          1542
T5                1          1173
T6                1          1216
T7                1           725
T8                1           737
T9                1           156
Name: IS_SUCCESSFUL, dtype: int64

In [84]:
# Drop the non-beneficial ID columns, 'EIN', 'NAME', 'SPECIAL_CONSIDERATIONS' AND 'STATUS'.
application_df.drop(columns=['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS', 'STATUS'], inplace = True)

In [85]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [86]:
# Create a cutoff function to apply to future cutoffs

def CutOff(cut_off_value, dataframe_column, dictionary_name):
    
    # Choose a cutoff value and create a list of application types to be replaced
    # use the variable name `application_types_to_replace`
    cutoff_value = cut_off_value
    dictionary_name = []

    # Get the value counts of each application type
    column_counts = dataframe_column.value_counts()

    # Create a list of application types to be replaced
    for type, count in column_counts.items():
        if count < cutoff_value:
            dictionary_name.append(type)

    # Replace in dataframe
    for each in dictionary_name:
        dataframe_column = dataframe_column.replace(each, "Other")

    # Check to make sure binning was successful
    return dataframe_column.value_counts()

In [87]:
# Set a new threshold for the application type count threshold
CutOff(170, application_df['APPLICATION_TYPE'], 'application_types_to_replace')

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [88]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [89]:
# Increase the cutoff threshold for the classification counts
CutOff(150, application_df['CLASSIFICATION'], 'classifications_to_replace')

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [90]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [91]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=39)

In [92]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [119]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Number of input features is equal to the shape of a single element of X_train_scaled
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=19, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation='relu'))

# # Second hidden layer
# nn.add(tf.keras.layers.Dense(units=5, activation='gelu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_65 (Dense)            (None, 19)                2166

 dense_66 (Dense)            (None, 5)                 100

 dense_67 (Dense)            (None, 1)                 6

=================================================================
Total params: 2,272
Trainable params: 2,272
Non-trainable params: 0
_________________________________________________________________

In [201]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Number of input features is equal to the shape of a single element of X_train_scaled
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=6, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_37"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_121 (Dense)           (None, 15)                1710

 dense_122 (Dense)           (None, 6)                 96

 dense_123 (Dense)           (None, 1)                 7

=================================================================
Total params: 1,813
Trainable params: 1,813
Non-trainable params: 0
_________________________________________________________________

In [202]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [203]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6035 - accuracy: 0.7116
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5623 - accuracy: 0.7283
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7302
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7302
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7334
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7327
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7325
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7344
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7339
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7348
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7343
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7347
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7348
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7338
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7353
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7343
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7347
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7353
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7344
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7350
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7345
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7356
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7358
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7360
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7370
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7361
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7362
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7367
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7365
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7378
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7367
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7365
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7363
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7369
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7378
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7372
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7381
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7378
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7375
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7379
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7376

In [204]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5564 - accuracy: 0.7286 - 559ms/epoch - 2ms/step
Loss: 0.5563589930534363, Accuracy: 0.7286297082901001

In [205]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized_3.h5")